[submodule "underscore"]
	path = underscore
	url = http://github.com/documentcloud/underscore.git
[submodule "vendor/underscore"]
	path = vendor/underscore
	url = http://github.com/documentcloud/underscore.git
